<app-confirm-dialog></app-confirm-dialog>

<div class="page-chamados min-h-screen flex flex-col">
  <div class="flex items-center justify-center pt-8">
    <span class="text-lg">GERENCIAMENTO DE CHAMADOS</span>
  </div>

  <app-button
    label="Novo chamado"
    icon="pi pi-plus"
    severity="help"
    class="botao-novo-chamado px-6 pt-3 pb-0"
    (click)="criarNovoChamado()"
  />

  <app-blocos-chamados
    title="Não atendidos"
    [badge]="chamadosNaoAtendidos().length"
    severity="danger"
    [expanded]="true"
    (chamadoDropped)="handleDrop($event, 'ATENDER')"
  >
    @for (chamado of chamadosNaoAtendidos(); track chamado.id) {
      <app-card-chamados
        [chamado]="chamado"
        (edit)="editarChamado($event)"
        (remove)="removerChamado($event)"
        (moveToStatus)="handleMoveToStatus(chamado, $event)"
      />
    }
  </app-blocos-chamados>

  <app-blocos-chamados
    title="Em andamento"
    [badge]="chamadosEmAndamento().length"
    severity="warn"
    [expanded]="true"
    (chamadoDropped)="handleDrop($event, 'ANDAMENTO')"
  >
    @for (chamado of chamadosEmAndamento(); track chamado.id) {
      <app-card-chamados
        [chamado]="chamado"
        (edit)="editarChamado($event)"
        (remove)="removerChamado($event)"
        (moveToStatus)="handleMoveToStatus(chamado, $event)"
      />
    }
  </app-blocos-chamados>

  <app-blocos-chamados
    title="Finalizados"
    [badge]="chamadosFinalizados().length"
    severity="success"
    [expanded]="true"
    (chamadoDropped)="handleDrop($event, 'FINALIZADO')"
  >
    @for (chamado of chamadosFinalizados(); track chamado.id) {
      <app-card-chamados
        [chamado]="chamado"
        (edit)="editarChamado($event)"
        (remove)="removerChamado($event)"
        (moveToStatus)="handleMoveToStatus(chamado, $event)"
      />
    }
  </app-blocos-chamados>

</div>

