<div class="bloco-chamados">
  <p-accordion [(value)]="active">
    <p-accordionpanel value="0">
      <p-accordionheader>
        <div>
          <span class="font-semibold">{{ title }}</span>
          @if (badge !== undefined && badge !== null) {
            <p-badge
              [value]="badge"
              [severity]="severity"
              class="ml-2"
            />
          }
        </div>
      </p-accordionheader>

      <p-accordioncontent>
        <div class="flex flex-col gap-3 drop-zone"
             pDroppable="chamado"
             (onDrop)="onDrop($event)">
          <ng-content></ng-content>
        </div>
      </p-accordioncontent>
    </p-accordionpanel>
  </p-accordion>
</div>
