<div class="card-chamados">
  <p-card>
    <div class=" header-card flex flex-row justify-between">
      <span class="titulo-card font-bold">
        {{ chamado.titulo }}
      </span>
      <span class="id-card">
        #id:{{ chamado.id }}
      </span>
    </div>
    <p>
      {{ chamado.descricao }}
    </p>
    <ng-template pTemplate="footer">
      <div class="flex justify-between items-center gap-4 mt-1">
        <app-chip
          [label]="chamado.categoria"
        />
        <div class="botoes-acoes-card flex">
          <app-button
            icon="pi pi-pencil"
            [text]="true"
            [rounded]="true"
            severity="secondary"
            styleClass="w-full"
            (click)="edit.emit(chamado)"
          />
          <app-button
            icon="pi pi-trash"
            [text]="true"
            [rounded]="true"
            severity="danger"
            styleClass="w-full"
            (click)="remove.emit(chamado.id)"
          />
        </div>
      </div>
    </ng-template>
  </p-card>
</div>