<div class="card-chamados mt-6 mb-4 mx-6">
  <p-card>
    <div class=" header-card flex flex-row justify-between">
      <span class="titulo-card font-bold">
        Título
      </span>
      <span class="id-card">
        #id: 1212
      </span>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
    </p>
    <ng-template #footer>
      <div class="flex justify-between items-center gap-4 mt-1">
        <app-chip></app-chip>
        <div class="botoes-acoes-card flex">
          <app-button
            icon="pi pi-pencil"
            [text]="true"
            [rounded]="true"
            severity="secondary"
            styleClass="w-full"
          />
          <app-button
            icon="pi pi-trash"
            [text]="true"
            [rounded]="true"
            severity="danger"
            styleClass="w-full"
          />
        </div>
      </div>
    </ng-template>
  </p-card>
</div>